################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyFirstDevopsApp/FileContentIndex/4c7be669-1386-4d0b-a085-fd55bbc38bae.vsidx
